/*=====<h1>ITL生徒用ログイン画面</h1>=====*/

/*======bodyの中身・背景色の指定FFE127!とBodyの大きさそろえる======*/

body {
    margin: 0;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    background-color: #FFE127;
}

p.img_center {
    text-align: center;
}

/*<!-- =================================== -->*/

/*<!-- =======入力フォーム 四角の大きさ======= -->*/

input.hoge {
    width: 300px;
    height: 30px;
}

/*<!-- =================================== -->*/

/* =======ボタン　デザイン=======*/

.btn-flat-double-border {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    text-align: center;
    color: #000000;
    border: double 4px #67c5ff;
    border-radius: 3px;
    transition: .4s;
    width: 180px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
}

.input-flat-double-border {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    text-align: center;
    color: #000000;
    border: double 4px #67c5ff;
    border-radius: 3px;
    transition: .4s;
    width: 310px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

    .input-flat-double-border:hover {
        cursor: pointer;
        background-color: aquamarine;
    }



    .btn-flat-double-border:hover {
        background: #fffbef;
    }

/*<!-- ========

