{% extends 'dashboard/base.html'%}

{% block content %}
    <!-- 本日の予定表示カード -->
<div class="container">

    {% if message %}
    <div class="mt-4 alert alert-warning" role="alert">{{message}}</div>
    {% endif %}
    <div class="row justify-content-center mt-5">
    <div class="col-md-12">
      <div class="card w-20">
        <h5 class="card-header">{{schedule.start_time}}の予定</h5> 
        <div class="card-body">
        <p class="card-text"><i class="bi bi-bookmark"></i>  {{schedule.training.title}}</p>
        <p class="card-text"><i class="bi bi-book"></i>  {{schedule.training.description}}</p>

        
        {% if schedule.staff_memo %}
            <p class="card-text"><i class="bi bi-brush"></i>  {{schedule.staff_memo}}</p>
        {% endif %}

        {% if schedule.traineer_memo %}
            <p class="card-text"><i class="bi bi-brush"></i>  {{schedule.traineer_memo}}</p>
        {% endif %}
    
       </div><!-- div class="card-body" -->
     </div><!-- div class="card" -->
  </div><!-- div class="col-md-8" -->
  </div><!-- div class="row justify-content-center" -->
</div><!-- div class="cotainer" -->

<form action="/dashboard/user/dialy/edit/{{schedule.id}}?next={{request.META.HTTP_REFERER}}" method="POST" enctype="multipart/form-data">{% csrf_token %}

          <!--満足度-->
    <div class="container">
        <div class="row d-flex justify-content-center mt-5">
            <div class="col-md-6">   
              <label for="customRange" class="form-label">今日の理解度</label>
               <input id="input-range" name="understandScore" type="range" class="form-range" min="0" max="100" value="{{data.understandScore}}">
            </div>
            <div class="col-md-2 d-flex align-items-center mt-3">   
              <label for="customRange" class="form-label h3"><span id="dis-understandScore">50</span>%</label>
            </div>
        </div>
    </div>
            <!--日報記入欄-->
    <div class="container">
        <div class="row justify-content-center mt-5">
            <!---
            <div class="col-md-12">
                <div class="text-rigt">
                <button class="w-8 btn btn-info btn-lg" type="submit">全体公開</button>
                </div>
            </div>
        -->
            <div class="card">
                <div class="card-header d-flex flex-column">
                    <div class="d-flex justify-content-between p-3">
                        <h5 class="card-header">日報記入欄</h5> 
                        <button id="is_public_btn" type="button" class="w-8 btn btn-secondary btn-lg"><i class="bi bi-cloud-slash-fill"></i></button>
                        <input id="is_public" type="hidden" name="is_public" value={{data.is_public}}>
                    </div>
                    <div class="mb-3">
                        <textarea id="input-textarea" name="comment" class="form-control" maxlength="800" rows="6" >{{data.comment}}</textarea>
                    </div>
                        <p class="text-end"><span id="dis-area" class="text-success">0</span>/800</p>
                </div>
            </div>
        </div>
    </div>
     <br>
     <br>     
    <div class="text-center">
        <button type="submit" class="w-15 btn btn-primary btn-lg" >{{button}}</button>
    </div>             
</form>            
          
           
      
<!---
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    -->


<script>
    p_btn = document.getElementById('is_public_btn')
    p = document.getElementById('is_public')

    if (p.value == 'true') {
        p_btn.classList.add('btn-success')
        p_btn.classList.remove('btn-secondary')
        p_btn.innerHTML = '<i class="bi bi-cloud-check-fill"></i>　公開中'
    }


    p_btn.addEventListener('click', function () {
        console.log('now')
        if (p.value == 'false') {

            p.value = 'true'
            p_btn.classList.add('btn-success')
            p_btn.classList.remove('btn-secondary')
            p_btn.innerHTML = '<i class="bi bi-cloud-check-fill"></i>　公開中'
        }
        else {
            p.value = 'false'
            p_btn.classList.add('btn-secondary')
            p_btn.classList.remove('btn-success')
            p_btn.innerHTML = '<i class="bi bi-cloud-slash-fill"></i>'
        }
    })

    input_area = document.getElementById('input-textarea')
    dis_area = document.getElementById('dis-area')

    if (input_area.value !== 0) {

        dis_area.innerHTML = input_area.value.length
    }

    input_area.addEventListener('keydown', function () {
        let area_length = input_area.value.length
        console.log(area_length)
        if (area_length < 800) {
            dis_area.innerHTML = `${area_length}`
            if (area_length < 600) {
                dis_area.classList.add('text-success')
                dis_area.classList.remove('text-warning')
                dis_area.classList.remove('text-danger')

            }
            else{
                dis_area.classList.add('text-warning')
                dis_area.classList.remove('text-success')
                dis_area.classList.remove('text-danger')
            }
            
        } else {
            dis_area.innerHTML = '800'
            dis_area.classList.add('text-danger')
            dis_area.classList.remove('text-warning')
            dis_area.classList.remove('text-success')
            
            
        }

    })

    disUnderstandScore = document.getElementById('dis-understandScore')
    input_range = document.getElementById('input-range')

    if (input_range.value !== 50) {
        disUnderstandScore.innerHTML = input_range.value
    }

    input_range.addEventListener('change', function () {
        disUnderstandScore.innerHTML = input_range.value
    })

</script>

{% endblock %}