{% load static %}
<!DOCTYPE html> 
<html> 
<head>
    <meta charseta-"utf-8"> 
    <title> 
        UPDATE login 
        ITL-trainingStudents 
        ITL生徒用ログイン画面 
    </title>
    <link rel="stylesheet" href="{% static 'css/user_sign_in.css' %}"/>
</head> 
<body> 
    <!--=======UPDATEロゴ.png======= --> 

    <div> 
        <p class="img_center"> 
            <img src="{% static 'image/UPDATE.png' %}"> 
        </p> 
        
    </div> 
    <!--=======入力フォーム =======--> 
    <div box="center_BOX">
        <form action="" method="post"> 
            {% csrf_token %}
            <p class="img_center"> 
                アカウント（e-mail address)：<br>
                <input type="text" name="email" size="12" class="hoge">
            </p> 

            <p class="img_center"> 
                パスワード（PassWord）：<br> 
                <input type="text" name="password" class="hoge"> 
            </p> 
            {% if message %}
            {{message}}
            {% endif %}
            <p class="img_center"> 
                <input type="submit" class="input-flat-double-border "  value="Sign In" />
            </p>
        </form> 
    </div> 

    <!--=======ログインボタン======= --> 
    <a href="/staff/signin" class="btn-flat-double-border">Staff Sign In</a><br> 

    <!--=======新規アカウント登録ボタン======= --> 
    <a href="/signup" class="btn-flat-double-border">Create a new account</a><<br> 

    <!--=======パスワード再登録ボタン======= --> 
    <a href="#" class="btn-flat-double-border">Reset password</a> 
</body> 

</html> 