
<div>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a id="detail-bar" class="nav-link" aria-current="detail" href="#">詳細</a>
      </li>
      <li class="nav-item">
        <a id="plan-view-bar" class="nav-link active" aria-current="plan-view" href="#">一覧</a>
      </li>
    </ul>
</div>

<div id="display-div" class="p-4 d-none">
    <p id="display-title" class="h5"/>
    <p id="display-date" />
    <p id="display-description" class=""/>
    <p id="display-staff-memo" />
    <p id="display-traineer-memo" />

</div>

<div id="display-list">
    <div class="container mt-2">
        <table class="table" id="schedule-table">
            <thead>
                <tr>
                    <th scope="col">日付</th>
                    <th scope="col">トレーニング</th>
                    <th scope="col">日報</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>